@{
    ViewBag.Title = "About QATool";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        QATool was developed entirely by Nicolas "Joao" Batista.
    </p>

    <p>
        This project is part of a capacitation program in MakingSense LLC
    </p>

    <p>
        Special thanks to "Andres Moschini", "Martin Fantini" and "Cesar Pecora"
    </p>
</article>

<aside>
    <h3>Links</h3>
    <p>
        Get the code and visit our web!
    </p>
    <ul>
        <li><a href="http://www.makingsense.com" target="_blank">MakingSense</a></li>
        <li><a href="https://github.com/nicolasmbatista/MVC4" target="_blank">QATool Code</a></li>
    </ul>
</aside>