@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Cell</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(+54)223-5350197</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Work:</span>
        <span><a href="mailto:nbatista@makingsense.com">nbatista@makingsense.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Skype</h3>
    </header>
    <p>
        <span class="label">Work:</span>
        <span>nicolasmbatista</span>
    </p>
</section>