@{
    ViewBag.Title = "QATool - ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This tool is the result of an MVC 4 Capacitation. The goal is to provide testers, a simple tool to manage project and test cases.
            </p>
        </div>
    </section>
}
<h3>What can you do:</h3>
<ol class="round">
    <li class="one">
        <h5>Create Projects</h5>
        Create projects fast and easy. All you need is a name, a simple description, and a project url. For <b>NOW</b>, a project is also a TestRun, since it has in it every test case for the Project/TestRun
    </li>
    <li class="two">
        <h5>Create Test Cases</h5>
        Create test cases, providing scenarios, the features it involves, a result, an id that matches the id in your project page, its environment, etc
    </li>
    <li class="three">
        <h5>Create Steps</h5>
        Create steps for your test case, setting its order, action and expected value. Edit them fast and easy with a simple and responsive ui!
    </li>
    <li class="four">
        <h5>Generate Templated Projets</h5>
        You can create a project based on another project, this way you can manage them as TestRuns!
    </li>
</ol>
<h3>What you will be able to do:</h3>
<ol class="round">
    <li class="one">
        <h5>Exports</h5>
        Export an entire test run to excel (and import), pdf, etc
    </li>
    <li class="two">
        <h5>Custom Chart Creation</h5>
        Generate charts with test results, by default, or custom ones
    </li>
    <li class="three">
        <h5>And more!</h5>
        User identification, run automated tests, jira integration, general test report, video player and recorder!
    </li>
</ol>
